.header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: .44rem;
    background-color: #cf5f55;

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;

        h1{
            font-size: .18rem;
        }
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        width: .44rem;
        height: .44rem;
        
        
        &.left{
            left: 0;

            a{
                font-size: 0;

                .iconfont{
                    font-size: .18rem;
                    color: #fff;
                }
            }
        }

        &.right{
            right: 0;

            font-size: 0;

                .iconfont{
                    font-size: .18rem;
                    color: #fff;
                }
        }
    }
}